<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
</head>
<body>
    <h1>Contacts</h1>
    <p>Phone number: +7 999 999 99 99</p>
    <p>
        <a href="http://t.me/crbyyy">
            <img src="{{ url_for('static', filename='img/telegram_icon.png') }}" width = "20" height = "20" alt="Telegram">
            @crbyyy
        </a>
    </p>
    <p>
        <a href="https://vk.com/id147012510">
            <img src="{{ url_for('static', filename='img/vk_icon.png') }}" width = "20" height = "20" alt="ВКонтакте">
            ВКонтакте
        </a>
    </p>
</body>
</html>




<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>Contact</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Contacts</h1>-->
<!--    <p>Phone number: +7 999 999 99 99</p>-->
<!--    <p>-->
<!--        <a href="http://t.me/crbyyy">-->
<!--            <img src="static/img/telegram_icon.png" width = "20" height = "20" alt="Telegram">-->
<!--            @crbyyy-->
<!--        </a>-->
<!--    </p>-->
<!--    <p>-->
<!--        <a href="https://vk.com/id147012510">-->
<!--            <img src="static/img/vk_icon.png" width = "20" height = "20" alt="ВКонтакте">-->
<!--            ВКонтакте-->
<!--        </a>-->
<!--    </p>-->
<!--</body>-->
<!--</html>-->