{% extends 'base.html' %}

{% block title %}
    <h2>Welcome to My Flask App!</h2>
    <p>This is the home page of our website.</p>
{% endblock %}



<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>Home</title>-->
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='css./styles.css') }}">-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Welcome to Flask</h1>-->
<!--    <p>This is the home page of our Flask application</p>-->
<!--    <p><a href="/about">About</a></p>-->
<!--    <p><a href="/contact"> Contacts</a></p>-->
<!--</body>-->
<!--</html>-->